body {
  padding: 0;
  margin:0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  height: 100px;
  user-select: none;

}

.linking {
  /* line-height: 1.5; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  /* max-width: 400px; */

}
.pic img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /* text-align: center; */
}

.socila_media a{
  text-decoration: none;
  font-size: 26px;
  padding-left: 6px;
  align-items: center;
  color: #000000;
  transition: all 100ms ease-in-out;
}
.socila_media {
  padding-bottom: 5px;


}
.socila_media a:hover{
  /* color: #FC6C85; */
    color: #6675ff;
  transform: scale(1.5);
}

.socila_media a i:hover{
  transform: scale(1.25);
}

.socila_media a i{
  transition: all 300ms ease-in-out;
}


@media(max-width:600px) {
  .socila_media a{
    font-size: 35px;
  }
}
/* @media(max-width:600px) { */
.linking p{
  font-size: 20px;
}

.linking p:hover{
  /* font-size: 20px; */
  /* color: #FC6C85; */
  color: #6675ff;
  transform: scale(1.25);
}
/* } */
.external_links a {
  max-width: 400px;
  font-size: 12px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.links a:hover {
}
.links {
    background:rgba(32, 31, 31, 0.98);;
    width: 380px;
    margin-bottom: 5px;
    /* width: 95%; */
    height: 50px;
    text-align: center;
    display: flex;
    font-size: 16px;
    color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 32px;
    text-decoration: none;
    transition: all 300ms ease-in-out;

}

.link1:hover {
  background: #D2D2D2;
}

/* .links:hover {
  color: red;
} */

.link1:hover {
  background: #D2D2D2;
  color: black;
}

.book {
  /* background: #FC6C85; */
  background: #6675ff;
}

.book:hover {
  /* background: #FC6C85; */
  color:black;
}

footer {
  /* position: fixed; */
  /* bottom: 50px; */
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center; */
  margin-bottom: 10px;
}

footer p {
  padding: 10px 0 10px 0;
  /* margin-bottom: 10px; */
}

.heart {
  color: red;
}
